.qr-value {
  width: 210px;
  height: 100px;
  border: 2px dashed black;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-contaner {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1024px; */
}