<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Items QR</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'> 
</head>

<body>
  {% for ticket_number, ticket_data in tickets.items() %}
    <div class="qr-contaner">
    <p>Caja: {{ticket_data["cashier_code"]}} -- Ticket: {{ ticket_number}} -- Cant Artículos: {{ticket_data["number_of_items"]}} -- Total a pagar: {{ticket_data["total_to_pay"]}} <br> </p>
      {% for value in ticket_data["qr_code"] %}
        {% for i in range(2) %}
          <div class="qr-value"> <img src="/static/images/{{value}}.svg" alt={{value}}> </div>
        {% endfor %}
      {% endfor %}
    </div>
  {% endfor %}

    <!-- for i in range(0, len(lst), 2):
    val_i = lst[i]
    val_i_plus_1 = lst[i+1]
    print(f"val_i: {val_i}, val_i_plus_1: {val_i_plus_1}") -->
</body>
</html>

<!-- for ticket_number, ticket_data in tickets.items():
for value in ticket_data["barcodes"]:
  print(type(value))
  for key, valu in value.items():
    print(key, valu) -->